<ion-view view-title="Calendario">

  <style>
  .social .item-body {
      padding: 10px 10px 63px; !important
  }

.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    /* border-radius: 52px; */
    background-color: #fff;!important
    opacity: 0.5;
    /* padding: 5px 0px 5px 0px; */
}

.user span{
    margin-left: 12px;
}

.item {
    border-color: #ddd;
    background-color: #fff; !important
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
.col-50{
    padding: 16px;
}
.row{
    padding: 0;
}

  </style>
  <ion-content class="social">
  <div style="padding: 16px">
        <div ng-repeat="data2 in visible">
            <div class="item-featured">
                <div ng-click="ver(data2.ind)" class="img" style="background-image: url(http://sistemex.com/apps/redconcreta/redConcreta/public/img/calendario/{{data2.image}});"></div>
            </div>
            <div ng-show="data2.visible">
                <div class="row" >
                    <div class="col-50" style="text-align: center;box-shadow: 0px 0px 2px #aaa;">
                        <h2 style="font-size: 18px; color:#ff2b5a; font-weight: bold">{{data2.title}}
                        </h2>
                    </div>
                    <div class="col-50" style="text-align: center; box-shadow: 0px 0px 2px #aaa;">
                        <div style="font-size: 16px; color:#ff2b5a;">{{data2.direccion}}
                        </div>
                    </div>
                </div>
                <div style="color:#ff727d; margin:16px auto;width:90%; font-size:14px">
                    {{data2.description}}
                </div>
                <div class="row" style="width: 90%; margin: 16px auto; background: #ffe1e7; border-width: 1px;
    border-style: solid;border-radius: 4px; border-color:#ff2b5a">
                    <div class="col-50" style="color:#ff727d;text-align: left;">
                        Cuando:
                        <div style="text-align: center;font-size: 12px;color:#ff727d"><strong style="font-size: 16px; color:#ff2b5a;">{{data2.start.substr(0, 10)| date:"dd-MMM-yyyy"}} </strong></div>
                        <div style="text-align: center;font-size: 12px;color:#ff727d"><strong style="font-size: 16px; color:#ff2b5a;">{{data2.start.substring(11,16)}} </strong></div>
                    </div>
                    <div class="col-50" style="padding-top:0;margin-top:16px;padding-bottom:0;margin-bottom:16px;color:#ff727d;text-align: left;border-left-width: 1px; border-left-style: solid;border-left-color:#ff727d">
                        Precio:
                        <div style="text-align: center;font-size: 12px;color:#ff727d"><strong style="font-size: 16px; color:#ff2b5a;">$ {{data2.costo}} </strong></div>
                    </div>
                </div>
                <button ng-click="ir(data2)" class="button" style="background:#ff2b5a; color:white; margin-bottom: 16px; width: 100%">
                  Registrarme
                </button>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
